@{
    ViewBag.Title = "BeastMUD Editor";
}

@section head{
<link href="@Url.Content("~/Content/css/editor.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/beast.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/beast.placemap.js")"></script>
}

<div class="editor">
	<div class="editor-toolbar">toolbar</div>
	<div class="editor-map"><canvas id="map" width="100%" height="100%" /></div>
	<div class="editor-options">
		<ul>
			<li><a href="#tabs-1">Properties</a></li>
		</ul>
		<div id="tabs-1">
		
		</div>
	</div>
</div>

<script type="text/javascript">
	function setHeight() {
		var h = $(window).height() - $('header').height() - $('nav').height() - $('footer').height() - 100;
		$('.editor').height(h);

		h = h - $('.editor-toolbar').height();
		$('.editor-map').height(h)
	}

	$(function () {
		setHeight();

		$(window).resize(function () { setHeight(); });

		$('.editor-options').tabs();

		$('#map').placemap({
			width: $('.editor-map').width(),
			height: $('.editor-map').height(),
			tile: {
				real: 24,
				padding: 8
			}
		});
	});
</script>