.editor 
{
	position: relative;
	height: 100%;
}
.editor-toolbar {
	height: 24px;
}
.editor-map 
{
	float: left;
	width: 74%;
	margin-bottom: 12px;
}
.editor-options 
{
	float: right;
	width: 25%;
	padding: 4px;
	border: 1px solid #333333;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}