@import 'reset.css';
@import 'text.css';

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
html, body
{
	height: 100%;
}
body {
  background: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

a {
  color: #06c;
}

a:hover {
  color: #c60;
}

input[type="button"], input[type="submit"]
{
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
	padding:4px 12px;
	color: #000;
	border: 1px solid #000;
	cursor: pointer;
}

.validation-summary-errors
{
	padding: 8px;
	color: #FF0000;
	border: 1px solid #FF0000;
	background-color: #FFFF99;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 8px;
}
.input-validation-error
{
	border: 1px solid #FF0000;
	background-color: #FFCCFF;
}